*{
    margin: 0;
}
html, body{
    height: 100%;
}

h1,h2,h3,h4,h5,h6{

    margin-bottom: 20px;
}


 img {
     opacity: 0.5;
     filter: alpha(opacity=50); /* For IE8 and earlier */
 }

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}




nav{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,.5);
    z-index: 99;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: #ffffff;
    margin-left: 30px;
    line-height: 50px;
}


.sect{
    background-size: 100%;
    background-attachment: fixed;


}
.subSection{
    height: 50%;
    background-color: #FFFFFF;
    background-size: 100%;
}

.sectOne{
    height:100%;
}
.sectTwo{
    background-image: url(http://www.planwallpaper.com/static/images/bicycle-1280x720.jpg) ;


}
.SectThree{
    background-image: url(http://www.planwallpaper.com/static/images/bicycle-1280x720.jpg);
    height:50%;

}

.Footer{
    background-color: #FFFFFF;
    height:10%;
}

p{
    text-align: center;
}
