*{
    margin: 0;
}
html, body{
    height: 100%;
}

h1,h2,h3,h4,h5,h6{

    margin-bottom: 20px;
}

nav{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,.5);
    z-index: 99;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: #ffffff;
    margin-left: 30px;
    line-height: 50px;
}


.sect{
    height:100%;
    background-size: 100%;
    background-attachment: fixed;


}
.subSection{
   height: 50%;
    background-color: #fff2ef;
    background-size: 100%;
}

.sectOne{

}
.sectTwo{
    background-image: url(http://www.planwallpaper.com/static/images/bicycle-1280x720.jpg) ;


}
.SectThree{
    background-image: url(http://www.planwallpaper.com/static/images/bicycle-1280x720.jpg);

}


