@charset "utf-8";
/* CSS Document */

/* ---------- ENTYPO ---------- */
/* ---------- http://www.entypo.com/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

@import url(http://weloveiconfonts.com/api/?family=entypo);

a[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

body{
    font-family: Calibri, sans-serif;
}

.background-wrap{
    position: absolute;
    z-index: -1;
    transform: translate(50%,50%);
    width: 120%;
    height: 125%;
    overflow: visible;
    top: 40%;
    left: 45%;
    width: auto;
    background: transparent;

}

#video-bg-elem{

    position: absolute;
    top: -40%;
    left: 0%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;

}

.content{
    position: absolute;
    width: 100%;
    min-height: 100%;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
}

.content h1{
    text-align: center;
    font-size: 125px;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    padding-top: 15%;
    margin-bottom: 10px;
}

.content p{
    text-align: center;
    font-size: 50px;
    letter-spacing: 3px;
    color: #aaa;
}

.content button{

    font-size: 50px;
    top: -40%;
    left: 60%;
}
